<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Spring Boot</title>
</head>
<body>
    <h1>Información de empleado</h1>
    <ul>
        <li><strong>Nombre: </strong> <span th:text="${empleado.nombre}"></span></li>        
        <li><strong>Apellido: </strong> <span th:text="${empleado.apellido}"></span></li>
        <li>
            <strong>Dirección: </strong> 
            <span th:text="${empleado.direccion != null ? empleado.direccion : 'No tiene dirección'}"></span>
        </li>        
        <li><strong>Puesto: </strong> <span th:text="${empleado.puesto}"></span></li>
        <li><strong>Edad: </strong> <span th:text="${empleado.edad}"></span></li>
        <li><strong>Télefono: </strong> <span th:text="${empleado.telefono}"></span></li>
        <li><strong>ID: </strong> <span th:text="${empleado.id}"></span></li>
    </ul>
</body>
</html>